img {
    max-width: 100%;
    height: auto;
}

img:hover {
  animation: pulse 0.5s;
}

svg {
    color: inherit;
    fill: currentColor;
    width: 1rem;
    height: 1rem;

    * {
        pointer-events: none;
    }
}
