// SVGs
#menu_Shape {
  fill: map-get($theme-colors, light);
  color: map-get($theme-colors, light);
}
@media (min-width: $md) {
  #logo1_logo {
    fill: map-get($theme-colors, light);
    color: map-get($theme-colors, light);
  }
}

// Mobile Navigation Toggle
.page-nav-toggle {
  position: relative;
  height: $navbar-height;
  padding: 0;
  float: right;
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  @media (min-width: $md) {
    display: none;
  }

  &.closed .close,
  &.opened .open {
    position: absolute;
    top: 50%;
    right: -125%;
    transform: translate(0, -50%);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    cursor: pointer;
    outline: none;
  }

  svg {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1.6rem;
    height: 1.2rem;
    transform: translate(50%, -50%);
  }

  span {
    display: inline-block;
    position: relative;
    right: 0;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    transition: right $transition-duration-long $transition-bezier;
  }

  .open {
    color: map-get($theme-colors, light);
  }

  .close {
    color: map-get($theme-colors, dark);
    opacity: 1;
    margin-right: $grid-gutter-width / 2;
    &:hover, &:focus {
      opacity: 1;
    }
  }
}

// Navigation Container
@media (min-width: $md) {
  .desktop-menu {
    display: inline-block !important;
  }
  .page-nav {
    display: none;
    transform: none !important;
    font-size: 0.8rem;
    width: 100%;
    &-overlay {
      display: none !important;
    }
  }
}
@media (max-width: $md - 1) {
  .desktop-menu {
    display: none;
  }
  .page-nav {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: ($grid-gutter-width * 1.5 + $navbar-height) ( $grid-gutter-width ) ($grid-gutter-width * 1.5);
    z-index: 1024;
    background-color: $body-bg;
    font-size: 1.2rem;
    pointer-events: none;
    transform: translate(0, -100%);

    &-open {
      visibility: visible;
      pointer-events: auto;
    }

    &-overlay {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1023;
      background-color: rgba(0, 0, 0, 0.8);
      pointer-events: none;
    }
  }
  // Prevent body scrolling when the menu is opened
  html.menu-open {
    &,
    body {
      overflow: hidden;
    }
  }
}

@media (max-width: $sm - 1) {
  .page-nav {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

@media (max-width: $md - 1) {
  .menu {
    font-size: 1.5rem;
    text-align: center;
  }
}

// Main Navigation Menu
.desktop-menu {
  .menu-item-link {
    color: map-get($theme-colors, light);
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  @media (min-width: $md) {
    width: 100%;
  }

  &-item {
    display: block;
    @media (min-width: $md) {
      display: inline-block;
    }
    &-link {
      display: block;
      position: relative;
      padding-top: $grid-gutter-width / 3;
      padding-bottom: $grid-gutter-width / 3;
      color: inherit;
      font-weight: 500;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      text-decoration: none;
      @media (min-width: $md) {
        padding: $grid-gutter-width / 4;
      }

      &:focus,
      &:hover {
        &::before {
          transform: translate(-50%, 0);
        }
      }

      &:active {
        background-color: transparent;
      }

      &.active {
        &::before {
          transform: translate(0, 0);
        }
      }
    }
  }
}
