@import '../../shared/styles/colors.scss';

// Breakpoints
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (xs: $xs, sm: $sm, md: $md, lg: $lg, xl: $xl);

// Body
$body-bg: $white;
$body-color: $gray-700;
$inverse-bg: $gray-900;
$inverse-color: $gray-600;
$body-border: #d0d0d0;
$selection-bg: #b4d5fe;

$text-color: $gray-900;

// Scaffolding
$grid-columns: 12;
$grid-gutter-width: 2.5rem;
$p-max-width: 30em;
$img-max-width: 1328px;
$preview-max-width: 420px;
$jumbotron-height-md: 50vh;

// Links
$link-decoration: none;
$link-hover-decoration: none;
$text-reduced-color: $gray-700;
$link-color: $indigo;
$link-hover-color: darken($link-color, 20%);

// Buttons
$btn-focus-border: $text-color;

// Transitions
$transition-duration-base: 175ms;
$transition-duration-long: 300ms;
$transition-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);

// Header
$navbar-height: 3.4rem;
$navbar-height-md: 5rem;
$header-width-md: 18rem;
$logo-height-md: 3.5rem;
